@import "src/assets/styles/style.scss";

.card {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  background-image: linear-gradient(
    to bottom,
    #212121,
    #3d2b45,
    #6b2d5b,
    #a11f5e,
    #d3004b,
    #d3004b,
    #d3004b,
    #d3004b,
    #a11f5e,
    #6b2d5b,
    #3d2b45,
    #212121
  );
}

img {
  width: auto;
}

@media screen and (min-width: 10em) and (max-width: 40em) {
  img {
    width: 50%;
  }
}

.mat-card-header {
  background-color: $white;
  padding-top: 10px;
  border-radius: 50px;
  justify-content: center;
}

.mat-card-title {
  text-transform: uppercase;
  color: $black;
}

.mayuscula ::first-letter {
  text-transform: uppercase;
}
