.poke-card {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 20px;
  color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* Imagen */
.poke-img {
  width: 200px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.poke-img:hover {
  transform: scale(1.1);
}

.section {
  margin-top: 1.5rem;
}

.stats-summary {
  display: flex;
  justify-content: space-around;
}

.type-chip {
  font-weight: bold;
  color: white;
}

.stat-bar {
  margin-bottom: 1rem;
  text-align: left;

  .label {
    font-weight: 500;
    margin-bottom: 4px;
  }
}

::ng-deep mat-progress-bar {
  height: 10px;
  border-radius: 10px;
}

.type-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
}

mat-chip-listbox {
  gap: 8px; /* Espacio entre chips */
}

.type-chip {
  font-weight: bold;
  color: white;
  padding: 4px 10px;
  border-radius: 16px;
}

/* Sección de habilidades */
.abilities-section {
  text-align: left;
  margin-top: 1rem;
  padding: 0 1rem;
}

.section-title {
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center; /* Si quieres centrar el título */
}

.abilities-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;

  li {
    background: rgba(255, 255, 255, 0.1);
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: capitalize;
  }
}

.bg-normal {
  background: white;
  color: black;
}

/* ==== Degradados por tipo ==== */
.bg-fire {
  background: linear-gradient(90deg, #ff7e00, #ff0000);
}

.bg-water {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
}

.bg-grass {
  background: linear-gradient(90deg, #56ab2f, #a8e063);
}

.bg-electric {
  background: linear-gradient(90deg, #f9d423, #ff4e50);
}

.bg-ice {
  background: linear-gradient(90deg, #00c9ff, #92fe9d);
}

.bg-fighting {
  background: linear-gradient(90deg, #d31027, #ea384d);
}

.bg-poison {
  background: linear-gradient(90deg, #7b4397, #dc2430);
}

.bg-ground {
  background: linear-gradient(90deg, #ba8b02, #181818);
}

.bg-flying {
  background: linear-gradient(90deg, #1e3c72, #2a5298);
}

.bg-psychic {
  background: linear-gradient(90deg, #a18cd1, #fbc2eb);
}

.bg-bug {
  background: linear-gradient(90deg, #a8e063, #56ab2f);
}

.bg-rock {
  background: linear-gradient(90deg, #757f9a, #d7dde8);
}

.bg-ghost {
  background: linear-gradient(90deg, #232526, #414345);
}

.bg-dragon {
  background: linear-gradient(90deg, #200122, #6f0000);
}

.bg-dark {
  background: linear-gradient(90deg, #000000, #434343);
}

.bg-steel {
  background: linear-gradient(90deg, #757f9a, #d7dde8);
}

.bg-fairy {
  background: linear-gradient(90deg, #ff9a9e, #fecfef);
}
