<mat-card class="card">

  <div class="card-header mat-card-title">
    <mat-card-header class="mat-card-header">
      <mat-card-title class="mat-card-title">{{pokemon.name}}</mat-card-title>
      <br><br>
    </mat-card-header>
  </div>

  <div class="row text-center mb-4">
    <div class="col-md-6">
      <img mat-card-image src="{{pokemonImgFront}}" alt="pokemon">
    </div>
    <div class="col-md-6" *ngIf="pokemonImgShiny; else elseImg">
      <img mat-card-image src="{{pokemonImgShiny}}" alt="pokemon">
    </div>
    <ng-template #elseImg>
      <div class="col-md-6">
        <img mat-card-image src="../../../assets/images/Unavailable.png" style="width: 80%;" alt="pokemon">
      </div>
    </ng-template>
  </div>

  <div class="card-footer text-muted d-flex justify-content-center">
    <mat-chip-listbox>
      <mat-chip *ngFor="let t of pokemon.types" color="primary">
        {{ t.type.name | titlecase }}
      </mat-chip>
    </mat-chip-listbox>
  </div>

</mat-card>