@import "../../../assets/styles/style.scss";

.container{
    width: 100%;
    margin-top: 20px;
}

.card {
    width: 450px;
    margin: auto;
    margin-top: 20px;
    background-color: $red;
}

.mat-card-header{
    background-color: $white;
    padding-top: 10px;
    border-radius: 50px;
    justify-content: center;
}

.mat-card-title{
    text-transform: uppercase;
    color: $black;
}
