<mat-card class="card">

    <div class="card-header mat-card-title">
      <mat-card-header class="mat-card-header">
        <mat-card-title class="mat-card-title">{{pokemon.name}}</mat-card-title>
        <br><br>
      </mat-card-header>
    </div>

      <div class="row text-center mb-4">
        <div class="col-md-6">
          <img mat-card-image src="{{pokemonImgFront}}" alt="pokemon">
        </div>
        <div class="col-md-6">
          <img mat-card-image src="{{pokemonImgShiny}}" alt="pokemon">
        </div>
      </div>


    <div class="card-footer text-muted d-flex justify-content-center">
      <mat-chip-listbox>
        <mat-chip color="primary" style="font-size: large;" >Type: {{pokemonType}}</mat-chip>
        <mat-chip color="primary" style="font-size: large;">Height: {{pokemon.height}}</mat-chip>
        <mat-chip color="primary" style="font-size: large;">Weight: {{pokemon.weight}}</mat-chip>
      </mat-chip-listbox>
    </div>

</mat-card>
