<footer class="footer">
  <div class="footer-container">
    <div class="footer-social">
      <a href="https://www.linkedin.com/in/nicolaserazo/" aria-label="LinkedIn" target="_blank"
        rel="noopener noreferrer">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/NicolasErazo" aria-label="GitHub" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <div class="footer-text">
      &copy; {{ currentYear }} <span class="highlight">Nicolas Erazo</span> — Todos los derechos reservados.
    </div>
  </div>
</footer>