<div class="pokemon-container">
  <!-- Filtro de Busqueda-->
  <div class="search-container">
    <button
      mat-icon-button
      class="white-icon-btn"
      (click)="generateRandomNumber()"
      aria-label="Generar Pokémon aleatorio"
    >
      <mat-icon>shuffle</mat-icon>
    </button>
    &nbsp;&nbsp;
    <input
      type="text"
      matInput
      [formControl]="pokemonCtrl"
      [matAutocomplete]="auto"
      placeholder="Ej: pikachu o 25"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onOptionSelected($event)"
    >
      <mat-option *ngFor="let name of filteredPokemonNames" [value]="name">
        {{ name }}
      </mat-option>
    </mat-autocomplete>
  </div>

  <!-- Tabla -->
  <div class="table-responsive">
    <table mat-table [dataSource]="pokemons" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
        <td mat-cell *matCellDef="let p">{{ p.id }}</td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Imagen</th>
        <td mat-cell *matCellDef="let p">
          <img
            class="poke-img"
            [src]="p.imageUrl"
            [alt]="p.name"
            width="40"
            height="40"
            onerror="this.src='assets/images/pikachuIncognito.png'"
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let p">{{ p.name | titlecase }}</td>
      </ng-container>

      <ng-container matColumnDef="types">
        <th mat-header-cell *matHeaderCellDef>Tipos</th>
        <td mat-cell *matCellDef="let p">
          <div class="pokemon-types">
            <span
              *ngFor="let t of p.types"
              class="type-badge {{ t.type.name }}"
            >
              {{ t.type.name | uppercase }}
            </span>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="viewPokemonDetail(row)"
        (keydown)="viewPokemonDetail(row)"
        tabindex="0"
      ></tr>
    </table>
  </div>

  <!-- Paginador -->
  <mat-paginator
    [length]="totalPokemons"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20, 50]"
    (page)="onPageChange($event)"
    showFirstLastButtons
  ></mat-paginator>
</div>
