<div class="container py-4">

    <!-- Filtro -->
    <input type="text" matInput [formControl]="pokemonCtrl" [matAutocomplete]="auto" placeholder="Ej: pikachu o 25">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
        <mat-option *ngFor="let name of filteredPokemonNames" [value]="name">
            {{ name }}
        </mat-option>
    </mat-autocomplete>

    <!-- Tabla -->
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">


            <!-- Posición -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                <td mat-cell *matCellDef="let element">{{ element.position }}</td>
            </ng-container>

            <!-- Imagen -->
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef>Imagen</th>
                <td mat-cell *matCellDef="let element">
                    <img [src]="element.image" [alt]="element.name" width="64" height="64" class="poke-img" />
                </td>
            </ng-container>

            <!-- Nombre -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Cabecera y filas -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="getRow(row)"
                (keydown.enter)="getRow(row)" (keydown.space)="getRow(row)" tabindex="0" role="button"
                [attr.aria-label]="'Ver detalles de ' + row.name">
            </tr>

            <!-- Fila sin datos -->
            <tr class="mat-row" *matNoDataRow>
                <td mat-cell colspan="3">No hay coincidencias para "{{ pokemonCtrl.value }}"</td>
            </tr>

        </table>
    </div>

    <!-- Paginador -->
    <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20, 50]" [length]="positionTotal"
        showFirstLastButtons (page)="onPageChange($event)" aria-label="Selector de página">
    </mat-paginator>

</div>